@keyframes appearance-menu
{
    from {
        opacity: 0;
        transform: translateY(10%)
    }
    to {
        opacity: 1;
        transform: translateY(0%);  
    }
}

@keyframes spin-border
{
    0% {
        transform: rotate(0deg);
        border-top: 3px solid $color-tertiary;
    }
    50% {
        border-bottom: 3px solid $color-tertiary;
   }
    100%{
        transform: rotate(360deg);
        border: 3px solid $color-tertiary;
    }
}

@keyframes load {
    0%{
        color: $color-secondary;
        text-shadow: 0 0 7px $color-secondary;
    }
    90%{
       color: $color-primary;
       text-shadow: none;
    } 
    100%{
        color: $color-secondary;
        text-shadow: 0 0 7px $color-secondary;
   }
}

@keyframes opacity {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.3;
    }
    80% {
      opacity: 0;
    }
    100% {
      z-index: -10;
    }
  }

  @keyframes clignote {
    0% {
      box-shadow: 5px 0 18px $color-tertiary;
    }
    25% {
      box-shadow: 0 0 0px $color-tertiary;
    }
    50% {
      box-shadow: 5px 0 18px $color-tertiary;
    }
    75% {
      box-shadow: 0 0 0px $color-tertiary;
    }
    100% {
      box-shadow: 5px 0 18px $color-tertiary;
    }
  }
