@-webkit-keyframes appearance-menu {
  from {
    opacity: 0;
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes appearance-menu {
  from {
    opacity: 0;
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes spin-border {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-top: 3px solid #99E2D0;
  }
  50% {
    border-bottom: 3px solid #99E2D0;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border: 3px solid #99E2D0;
  }
}

@keyframes spin-border {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-top: 3px solid #99E2D0;
  }
  50% {
    border-bottom: 3px solid #99E2D0;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border: 3px solid #99E2D0;
  }
}

@-webkit-keyframes load {
  0% {
    color: #FF79DA;
    text-shadow: 0 0 7px #FF79DA;
  }
  90% {
    color: #9356DC;
    text-shadow: none;
  }
  100% {
    color: #FF79DA;
    text-shadow: 0 0 7px #FF79DA;
  }
}

@keyframes load {
  0% {
    color: #FF79DA;
    text-shadow: 0 0 7px #FF79DA;
  }
  90% {
    color: #9356DC;
    text-shadow: none;
  }
  100% {
    color: #FF79DA;
    text-shadow: 0 0 7px #FF79DA;
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}

@font-face {
  font-family: 'Shrikhand';
  src: url("fonts/shrikhand/Shrikhand-Regular.eot");
  src: url("fonts/shrikhand/Shrikhand-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/shrikhand/Shrikhand-Regular.woff2") format("woff2"), url("fonts/shrikhand/Shrikhand-Regular.woff") format("woff"), url("fonts/shrikhand/Shrikhand-Regular.ttf") format("truetype"), url("fonts/shrikhand/Shrikhand-Regular.svg#Shrikhand-Regular") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'robotoregular';
  src: url("fonts/roboto/Roboto-Regular-webfont.eot");
  src: url("fonts/roboto/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/roboto/Roboto-Regular-webfont.woff") format("woff"), url("fonts/roboto/Roboto-Regular-webfont.ttf") format("truetype"), url("fonts/roboto/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'robotoregular','Times New Roman', Times, serif;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

/* Button (Home page) */
.top-main__presentation__button {
  padding-top: 20px;
  margin-bottom: 10px;
}

.top-main__presentation-button {
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: #FFFFFF;
  border-radius: 30px;
  -webkit-box-shadow: 0px 2px 4px #c4c4c4;
          box-shadow: 0px 2px 4px #c4c4c4;
  border: none;
  text-decoration: none;
  cursor: pointer;
  padding: 16px;
}

.top-main__presentation-button:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-box-shadow: 0px 2px 4px #919191;
          box-shadow: 0px 2px 4px #919191;
  opacity: 0.9;
}

/* Button (Restaurants page) */
.menu__bottom-button {
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: #FFFFFF;
  border-radius: 30px;
  -webkit-box-shadow: 0px 2px 4px #c4c4c4;
          box-shadow: 0px 2px 4px #c4c4c4;
  border: none;
  text-decoration: none;
  cursor: pointer;
  padding: 16px;
  width: 40%;
}

.menu__bottom-button:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-box-shadow: 0px 2px 4px #919191;
          box-shadow: 0px 2px 4px #919191;
  opacity: 0.9;
}

.header {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header__logo {
  font-family: 'Shrikhand','Times New Roman', Times, serif;
  width: 50%;
}

.header__icon-return {
  color: #000000;
  text-decoration: none;
  width: 5%;
  position: relative;
  right: 60px;
}

.top-main {
  background-color: #f2f2f2;
  height: 320px;
  width: 100%;
}

@media (min-width: 481px) {
  .top-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #FFFFFF;
  }
}

.top-main__form {
  background-color: #e5e5e5;
  padding: 13px 0;
  border-top: 3px solid #bfbfbf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media (min-width: 481px) {
  .top-main__form {
    width: 90%;
    margin: auto;
    border-radius: 20px;
  }
}

.top-main__form--input {
  background-color: #e5e5e5;
  font-family: 'robotoregular','Times New Roman', Times, serif;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  border: none;
}

.top-main__presentation {
  width: 75%;
  margin: auto;
  padding-bottom: 20px;
}

@media (min-width: 481px) {
  .top-main__presentation {
    background-color: #f2f2f2;
    border-radius: 20px;
    -webkit-box-shadow: 0px 2px 4px #c4c4c4;
            box-shadow: 0px 2px 4px #c4c4c4;
  }
}

.operation-main {
  height: 320px;
  width: 100%;
}

.operation-main__title {
  text-align: left;
  padding-left: 20px;
  padding-top: 15px;
}

@media (min-width: 481px) {
  .operation-main__title {
    text-align: center;
  }
}

.operation-main__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  height: 65px;
  margin: 15px auto;
  background-color: #f2f2f2;
  border-radius: 20px;
  -webkit-box-shadow: 0px 2px 4px #c4c4c4;
          box-shadow: 0px 2px 4px #c4c4c4;
}

@media all and (min-width: 481px) {
  .operation-main__step {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.operation-main__step:hover {
  background-color: whitesmoke;
  -webkit-box-shadow: 0px 2px 4px #919191;
          box-shadow: 0px 2px 4px #919191;
}

.operation-main__step .fa-store {
  color: #9356DC;
}

.operation-main__step-number {
  background: #9356DC;
  color: #FFFFFF;
  border-radius: 15px;
  padding: 2px 8px;
  margin-right: 55px;
}

@media (min-width: 481px) {
  .operation-main__step-number {
    background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    color: #FFFFFF;
  }
}

.operation-main__step-paragraph {
  padding-left: 45px;
  font-weight: bold;
}

.restaurants-main {
  background: #f2f2f2;
  width: 100%;
  height: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 481px) {
  .restaurants-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
    margin: auto;
    border-radius: 20px 20px 0 0;
  }
}

.restaurants-main__title {
  text-align: left;
  padding-left: 20px;
  padding-top: 15px;
}

@media (min-width: 481px) {
  .restaurants-main__title {
    text-align: center;
  }
}

.restaurants-main__article-lien {
  text-decoration: none;
  color: #000000;
  width: 100%;
}

.restaurants-main__article {
  height: 250px;
  margin: 10px 20px;
  background: #FFFFFF;
  border-radius: 20px;
  -webkit-box-shadow: 0px 2px 4px #c4c4c4;
          box-shadow: 0px 2px 4px #c4c4c4;
  position: relative;
}

.restaurants-main__article--btn-new {
  display: block;
  width: 18%;
  padding: 5px 13px 5px 10px;
  position: relative;
  bottom: 94%;
  left: 70%;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #217460;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurants-main__article .far.fa-heart {
  position: absolute;
  top: 76%;
  right: 5%;
  font-size: 1.8em;
}

.restaurants-main__article .far.fa-heart:active {
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.restaurants-main__article .far.fa-heart:active + .fas.fa-heart {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out;
}

@media (min-width: 481px) {
  .restaurants-main__article .far.fa-heart:hover {
    opacity: 0;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  .restaurants-main__article .far.fa-heart:hover + .fas.fa-heart {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 3s ease-in-out;
    transition: all 3s ease-in-out;
  }
}

.restaurants-main__article .fas.fa-heart {
  position: absolute;
  top: 76%;
  right: 5%;
  font-size: 1.85em;
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.restaurants-main__article-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 68%;
  border-radius: 20px 20px 0 0;
}

.restaurants-main__article-title {
  text-align: left;
  line-height: 0.5em;
  padding-left: 10px;
}

.restaurants-main__article-paragraph {
  text-align: left;
  line-height: 0.5em;
  padding-left: 10px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #2b2a2a;
  color: #FFFFFF;
  text-align: left;
  line-height: 1.7em;
  padding: 0 0 25px 15px;
}

@media (min-width: 481px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__logo {
  font-family: 'Shrikhand','Times New Roman', Times, serif;
  font-size: 1.2em;
  padding-left: 10px;
}

.footer__lien {
  text-decoration: none;
  color: #FFFFFF;
}

.footer .fa-utensils {
  padding-right: 10px;
}

.footer .fa-hands-helping {
  padding-right: 3px;
}

.menu {
  background: #f2f2f2;
  width: 100%;
}

.menu__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.menu__card {
  background: #f2f2f2;
  border: 1px solid #f2f2f3;
  border-radius: 20px 20px 0 0;
  position: relative;
  bottom: 50px;
}

.menu__card--anim-selector-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 100%;
  height: 99.9%;
  padding: 0 20px;
  border-radius: 0px 20px 20px 0px;
  background: #99E2D0;
  color: #FFFFFF;
  font-size: 1.6em;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.menu__card .far.fa-heart {
  padding-right: 20px;
  font-size: 1.8em;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.menu__card .far.fa-heart:active {
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.menu__card .far.fa-heart:active + .fas.fa-heart {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out;
}

@media (min-width: 481px) {
  .menu__card .far.fa-heart:hover {
    opacity: 0;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  .menu__card .far.fa-heart:hover + .fas.fa-heart {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 3s ease-in-out;
    transition: all 3s ease-in-out;
  }
}

.menu__card .fas.fa-heart {
  position: absolute;
  top: 2%;
  right: 1%;
  padding-right: 20px;
  font-size: 1.85em;
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.menu__card-title {
  text-align: left;
  padding-left: 15px;
  font-family: 'Shrikhand','Times New Roman', Times, serif;
}

@media (min-width: 481px) {
  .menu__card-title {
    text-align: center;
  }
}

.menu__card-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 97%;
  height: 65px;
  margin: auto;
  background-color: #FFFFFF;
  border-radius: 20px;
  -webkit-box-shadow: 0px 2px 4px #c4c4c4;
          box-shadow: 0px 2px 4px #c4c4c4;
  line-height: 1.7em;
  margin-bottom: 10px;
  -webkit-animation-name: appearance-menu;
          animation-name: appearance-menu;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.menu__card-choice:active .menu__card-choice-price {
  -webkit-transform: translate(-200%);
          transform: translate(-200%);
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

.menu__card-choice:active .menu__card--anim-selector-menu {
  -webkit-transform: translate(-65px);
          transform: translate(-65px);
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

.menu__card-choice:active .fa-check-circle {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 1000ms;
  transition: 1000ms;
}

.menu__card-choice:active .menu__card-choice-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 60%;
}

.menu__card-choice:active .menu__card-choice-paragraph {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 60%;
}

@media (min-width: 481px) {
  .menu__card-choice {
    width: 94%;
  }
  .menu__card-choice:hover .menu__card-choice-price {
    -webkit-transform: translate(-240%);
            transform: translate(-240%);
    -webkit-transition: 500ms ease-in-out;
    transition: 500ms ease-in-out;
  }
  .menu__card-choice:hover .menu__card--anim-selector-menu {
    -webkit-transform: translate(-65px);
            transform: translate(-65px);
    -webkit-transition: 500ms ease-in-out;
    transition: 500ms ease-in-out;
  }
  .menu__card-choice:hover .fa-check-circle {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transition: 1000ms;
    transition: 1000ms;
  }
  .menu__card-choice:hover .menu__card-choice-paragraph {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.menu__card-choice-title {
  text-align: left;
  padding-left: 15px;
  font-weight: bold;
  font-size: 1.1em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.menu__card-choice-paragraph {
  text-align: left;
  padding-left: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.menu__card-choice-price {
  display: inline-block;
  font-weight: bold;
  margin-right: 20px;
}

@media (min-width: 481px) {
  .menu__card-choice-price {
    font-size: 0.9em;
    -webkit-text-decoration: underline #99E2D0;
            text-decoration: underline #99E2D0;
  }
}

.menu .fa-check-circle {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.menu h3 {
  text-align: left;
  padding-left: 20px;
  padding-top: 15px;
  text-transform: uppercase;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  padding-left: 0;
  margin-left: 20px;
}

.menu__bottom {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Rajout div card price */
.displaycard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* Rajout div menu heart */
.displayheart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-loader__loader {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  text-underline-position: under;
}

.section-loader__loader--letter {
  color: #FF79DA;
  font-size: 80px;
  letter-spacing: 10px;
  margin-bottom: 150px;
  -webkit-animation: load 1.2s linear infinite;
  animation: load 1.2s linear infinite;
}

@media (min-width: 481px) and (max-width: 767px) {
  .section-loader__loader--letter {
    font-size: 50px;
  }
}

@media (min-width: 374px) and (max-width: 480px) {
  .section-loader__loader--letter {
    font-size: 35px;
  }
}

.section-loader__loader--letter:nth-child(1) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.section-loader__loader--letter:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.section-loader__loader--letter:nth-child(3) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.section-loader__loader--letter:nth-child(4) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.section-loader__loader--letter:nth-child(5) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.section-loader__loader--letter:nth-child(6) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.section-loader__loader--letter:nth-child(7) {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.section-loader__loader--letter:nth-child(8) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.section-loader__loader--letter:nth-child(9) {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

.section-loader__loader--letter:nth-child(10) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.section-loader__loader--space {
  visibility: hidden;
}

.fondu-out {
  opacity: 0;
  -webkit-animation: opacity 3s ease-out 0s forwards;
  animation: opacity 3s ease-out 0s forwards;
}
/*# sourceMappingURL=main.css.map */