@import "./saas/base/fonts";
@import "./saas/utils/variables";
@import "./saas/utils/mixins";


body
{
    margin: 0;
    font-family: 'robotoregular','Times New Roman', Times, serif;
    text-align: center;
    position: relative;
}

.header
{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    &__logo
    {
        font-family: 'Shrikhand','Times New Roman', Times, serif;
        width: 50%;
    }

    &__icon-return
    {
        text-decoration: none;
        color: $color-black;
        width: 5%;
        position: relative;
        right: 60px;
    }
}

.top-main
{
    background-color: $background-color;
    height: 320px;
    width: 100%;
    position: relative;
    
    &__form
    {
        background-color: darken($background-color, 5);
        padding: 13px;
        border-top: 3px solid darken($color: $background-color, $amount: 20);
        
        &--input
        {
            border: none;
            background-color: darken($background-color, 5);
            font-family: 'robotoregular','Times New Roman', Times, serif;
            font-size: 1em;
            font-weight: bold;
            text-align: center;
            width: 40%;
        }
    }

    &__presentation

    {
        width: 75%;
        margin: auto;
        padding: 20px;

        &--title
        {
            margin: 10px 0;
        }
        
        &--paragraph
        {
            margin: 10px 0;
        }

        &--button
        {
            @include button;
            position: relative;
            top: 35px;

            &:hover
            {
                background: linear-gradient(to bottom right, $color-secondary, $color-primary);
                filter: opacity(0.9);
                box-shadow: 0px 2px 4px darken($color: rgb(196, 196, 196), $amount: 20);
            }   
        }
    }
}

.operation-main
{
    height: 320px;
    width: 100%;
    
    &__title
    {
        @include title;
    }

    &__step
    {
        display: flex;
        align-items: center;
        width: 90%;
        height: 65px;
        margin: 15px auto;
        background-color: $background-color;
        border-radius: $border-radius;
        box-shadow: $box-shadow;

        &:hover
        {
            background-color: lighten($color: $background-color , $amount: 1);
            box-shadow: 0px 2px 4px darken($color: rgb(196, 196, 196), $amount: 20);
        }

        &--number
        {
            @include operation-step-number;
        }
        
        &--paragraph
        {
            margin-left: 20px;
            font-weight: bold;
        }

        .fa-store
        {
            color: $color-primary;
        }
    }
}

.restaurants-main
{
    background: $background-color;
    height: 1200px;
    display: flex;
    flex-direction: column;
    width: 100%;

    &__title
    {
        @include title;
    }

    &__article-lien
    {
        text-decoration: none;
        color: $color-black;
    }

    &__article
    {
        @include article-restaurants-accueil;

        &--img 
        {
            @include img-restaurants-accueil;
        }

        &--title
        {
            @include txt-restaurants-accueil;
        }
        
        &--paragraph
        {
            @include txt-restaurants-accueil;
        }

        span 
        {
            @include btn-new;
        }
    }
}

.menu
{
    background: $background-color;
    width: 100%;
    
    &__img
    {
        object-fit: cover;
        width: 100%;
    }
    
    &__card
    {
        background: $background-color;
        border: 1px solid $background-color;
        border-radius: 20px 20px 0 0;
        position: relative;
        bottom: 50px;
        
        &--title
        {
            font-family: 'Shrikhand','Times New Roman', Times, serif;
            @include align-pad-left;
        }

        &--choice
        {
            @include bloc-choice-card;
        }

        &--choice-title
        {
            font-weight: bold;
            font-size: 1.1em;
            margin: 0;
            @include align-pad-left;
        }

        &--choice-paragraph
        {
            display: flex;
            justify-content: space-between;
            margin: 0;
            @include align-pad-left;
        }

        h3 
        {
            @include align-pad-left;
            text-transform: uppercase;
        }
        
        span
        {
            margin-right: 20px;
            font-weight: bold;
        }
    }

    &__bottom
    {
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &--button 
        {
            @include button;
            width: 40%;

            &:hover
            {
                background: linear-gradient(to bottom right, $color-secondary, $color-primary);
                filter: opacity(0.9);
                box-shadow: 0px 2px 4px darken($color: rgb(196, 196, 196), $amount: 20);
            }
        }
    }
}
.footer
{
    display: flex;
    flex-direction: column;
    background-color: rgb(43, 42, 42);
    color: $color-white;
    text-align: left;
    line-height: 1.7em;
    padding: 10px 0 25px 15px;
    
    &__logo
    {
        font-family: 'Shrikhand','Times New Roman', Times, serif;
        font-size: 1.2em;
        margin-left: 10px;
    }
    
    &__lien
    {
        text-decoration: none;
        color: $color-white;
    }

    .fa-utensils
    {
        padding-right: 10px;
    }

    .fa-hands-helping
    {
        padding-right: 3px;
    }
}