@import "./saas/base/fonts";
@import "./saas/utils/variables";
@import "./saas/utils/mixins";


body
{
    margin: 0;
    font-family: 'robotoregular','Times New Roman', Times, serif;
    text-align: center;
}

/* Loading spinner */

.loading-spinner
{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top right, $color-secondary, $color-primary);
    animation: loading-spinner 5s ease-in-out both;
        
    &--title
    {
        font-size: 3em;
        font-family: 'shrikhand','Times New Roman', Times, serif;
        color: $color-white;
        text-decoration: underline;
        position: relative;
        bottom: 70px;
    }

    &--design
    {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        position: absolute;
        animation: spin-border 5s;
        
        &::after
        {
            content: '';
            width: 35px;
            height: 35px;
            border-radius: 35px;
            position: absolute;
            animation: spin-border 5s;
        }
    }
}

/* Header */

.header
{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    &__logo
    {
        font-family: 'Shrikhand','Times New Roman', Times, serif;
        width: 50%;
    }

    &__icon-return
    {
        color: $color-black;
        text-decoration: none;
        width: 5%;
        position: relative;
        right: 60px;
    }
}

/* Section 1 Main (Présentation/Button explore) Home page */

.top-main
{
    background-color: $background-color;
    height: 320px;
    width: 100%;

    @media (min-width:481px)
        {
            display: flex;
            flex-direction: column;
            background: $color-white;
        }
    
    &__form
    {
        background-color: darken($background-color, 5);
        padding: 13px 0;
        border-top: 3px solid darken($color: $background-color, $amount: 20);
        display: flex;
        justify-content: center;
        width: 100%;

        @media (min-width:481px)
        {
          width: 90%;
          margin: auto;
          border-radius: 20px;
        }
    
        &--input
        {
            background-color: darken($background-color, 5);
            font-family: 'robotoregular','Times New Roman', Times, serif;
            font-size: 1em;
            font-weight: bold;
            text-align: center;
            border: none;
        }
    }

    &__presentation

    {
        width: 75%;
        margin: auto;
        padding: 20px;
        
        @media (min-width:481px)
        {
          background-color: $background-color;
          border-radius: $border-radius;
          box-shadow: $box-shadow;
        }

        &--button
        {
            @include button;
            position: relative;
            top: 15px;
        
            &:hover
            {
                background: linear-gradient(to bottom right, $color-secondary, $color-primary);
                box-shadow: 0px 2px 4px darken($color: rgb(196, 196, 196), $amount: 20);
                filter: opacity(0.9);
            }   
        }
    }
}

/* Section 2 Main (Step opération) Home page */

.operation-main
{
    height: 320px;
    width: 100%;

    &__title
    {
        @include title-section;
        
        @media (min-width:481px)
        {
          text-align: center;
        }
    }

    &__step
    {
        display: flex;
        align-items: center;
        width: 85%;
        height: 65px;
        margin: 15px auto;
        background-color: $background-color;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        
        @media all and (min-width:481px)
        {                     
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
    
        &:hover
        {
            background-color: lighten($color: $background-color , $amount: 1);
            box-shadow: 0px 2px 4px darken($color: rgb(196, 196, 196), $amount: 20);
        }

        &--number
        {
            @include number-step-operation;

            @media (min-width:481px)
            {
               position: absolute;
               right: 75%;
               background: linear-gradient(to bottom right, $color-secondary, $color-primary);
               color: $color-white;
            }
        }
        
        &--paragraph
        {
            padding-left: 40px;
            font-weight: bold;
        }

        .fa-store
        {
            color: $color-primary;
        }

    }
}

/* Section 3 Main (The restaurants) Home page */

.restaurants-main
{
    background: $background-color;
    width: 100%;
    height: 1200px;
    display: flex;
    flex-direction: column;
    
    @media (min-width:481px)
    {
      display: flex;
      align-items: center;
      width: 80%;
      margin: auto;
      border-radius: 20px 20px 0 0;
    }

    &__title
    {
        @include title-section;

        @media (min-width:481px)
        {
          text-align: center;
        }
    }

    &__article-lien
    {
        text-decoration: none;
        color: $color-black;
        width: 100%;
    }

    &__article
    {
        @include restaurants-article-home;
        
        &--img 
        {
            @include restaurants-img-home;
        }

        &--title
        {
            @include restaurants-txt-home;
            
        }
        
        &--paragraph
        {
            @include restaurants-txt-home;
        }

        &--btn-new
        {
            @include btn-new;
        }
    }
}

/* Main (Menu) Page restaurant*/

.menu
{
    background: $background-color;
    width: 100%;
    
    &__img
    {
        object-fit: cover;
        width: 100%;
    }
    
    &__card
    {
        background: $background-color;
        border: 1px solid $background-color;
        border-radius: 20px 20px 0 0;
        position: relative;
        bottom: 50px;
        
        &--title
        {
            @include align-pad-left;
            font-family: 'Shrikhand','Times New Roman', Times, serif;

            @media (min-width:481px)
            {                     
                text-align: center;
            }
        }

        &--choice
        {
            @include menu-bloc-choice;
            animation-name: appearance-menu;
            animation-duration: all 4s;
            position: relative;
            overflow: hidden;

            &:active .menu__card--choice-price
            {
                transform: translate(-240%);
                transition: 500ms ease-in-out;
            }
            
            &:active .menu__card--anim-selector-menu
            {
                transform: translate(-65px);
                transition: 500ms ease-in-out;
            }
            
            &:active .fa-check-circle
            {
                transform: rotate(360deg);
                transition: 1000ms ;
            }

            &:active .menu__card--choice-paragraph
            {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 64% ;
            }
        }

        &--choice-title
        {
            @include align-pad-left;
            font-weight: bold;
            font-size: 1.1em;
            margin: 0;
        }

        &--choice-paragraph
        { 
            @include align-pad-left;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            margin: 0;
        }

        &--choice-price
        {
            position: absolute;
            left: 407px;
            bottom: 5px;
        }

        &--anim-selector-menu
        {
            @include anim-selector-menu;
        }

        h3 
        {
            @include title-section;
            text-transform: uppercase;
            text-decoration: $color-tertiary underline 3px;
            
            @media (min-width:481px)
            {                     
                text-align: center;
            }
        }
        
        span
        {
            font-weight: bold;
        }

        .fa-check-circle
        {
            transform: rotate(0deg);
        }
    }
    
    &__bottom
    {
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &--button 
        {
            @include button;
            width: 40%;

            &:hover
            {
                background: linear-gradient(to bottom right, $color-secondary, $color-primary);
                box-shadow: 0px 2px 4px darken($color: rgb(196, 196, 196), $amount: 20);
                filter: opacity(0.9);
            }
        }
    }
}

/* Footer */

.footer
{
    display: flex;
    flex-direction: column;
    background-color: rgb(43, 42, 42);
    color: $color-white;
    text-align: left;
    line-height: 1.7em;
    padding: 0 0 25px 15px;

    @media (min-width:481px)
        {                     
            display: flex;             
            justify-content: center;
            align-items: center; 
        }
    
    &__logo
    {
        font-family: 'Shrikhand','Times New Roman', Times, serif;
        font-size: 1.2em;
        padding-left: 10px;
    }

    &__lien
    {
        text-decoration: none;
        color: $color-white;
    }

    .fa-utensils
    {
        padding-right: 10px;
    }

    .fa-hands-helping
    {
        padding-right: 3px;  
    }
}

@keyframes appearance-menu
{
    from {
        opacity: 0;
        transform: translateY(10%)
    }
    to {
        opacity: 1;
        transform: translateY(0%);  
    }
}

@keyframes loading-spinner
{
    from {
           opacity: 1;
           z-index: 3;
    }
    to {
           opacity: 0;
           z-index: 1;
           visibility: hidden;
    }
}

@keyframes spin-border
{
    0% {
        transform: rotate(0deg);
        border-top: 3px solid $color-tertiary;
    }
    50% {
        border-bottom: 3px solid $color-tertiary;
   }
    100%{
        transform: rotate(360deg);
        border: 3px solid $color-tertiary;
    }
}