/* Button (Home page) */

.top-main__presentation__button {
    padding-top: 20px;
    margin-bottom: 10px;
}

.top-main__presentation--button
{
    @include button;
        
    &:hover
    {
        background: linear-gradient(to bottom right, $color-secondary, $color-primary);
        box-shadow: 0px 2px 4px darken($color: rgb(196, 196, 196), $amount: 20);
        opacity: 0.9;
    }   
}

/* Button (Restaurants page) */

.menu__bottom-button 
{
    @include button;
    width: 40%;

    &:hover
    {
        background: linear-gradient(to bottom right, $color-secondary, $color-primary);
        box-shadow: 0px 2px 4px darken($color: rgb(196, 196, 196), $amount: 20);
        opacity: 0.9;
    }
}
