.header
{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    &__logo
    {
        font-family: 'Shrikhand','Times New Roman', Times, serif;
        width: 50%;
    }

    &__icon-return
    {
        color: $color-black;
        text-decoration: none;
        width: 5%;
        position: relative;
        right: 60px;
    }
}