.menu
{
    background: $background-color;
    width: 100%;
    
    &__img
    {
        object-fit: cover;
        width: 100%;
    }
    
    &__card
    {
        background: $background-color;
        border: 1px solid $background-color;
        border-radius: 20px 20px 0 0;
        position: relative;
        bottom: 50px;
        
        &--title
        {
            @include align-pad-left;
            font-family: 'Shrikhand','Times New Roman', Times, serif;

            @media (min-width:481px)
            {                     
                text-align: center;
            }
        }

        .far.fa-heart
        {
            position: absolute;
            top: 2%;
            right: 1%;
            padding-right: 20px;
            font-size: 1.8em;
            transform: scale(1);

            &:active 
            {
                opacity: 0;
                transition: all 1s ease-in-out;
            }
            
            &:active + .fas.fa-heart
            {
                transform: scale(1);
                transition: all 3s ease-in-out;
            }

            @media (min-width:481px)
            {
                &:hover
                {
                    opacity: 0;
                    transition: all 1s ease-in-out;
                }
                
                &:hover + .fas.fa-heart
                {
                    transform: scale(1);
                    transition: all 3s ease-in-out;
                }
            }
        }

        .fas.fa-heart
        {
            position: absolute;
            top: 2%;
            right: 1%;
            padding-right: 20px;
            font-size: 1.85em;
            background: -webkit-linear-gradient(#FF79DA,#9356DC);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transform: scale(0);
        }

        &--choice
        {
            @include menu-bloc-choice;
            animation-name: appearance-menu;
            animation-duration: 4s;
            position: relative;
            overflow: hidden;
            cursor: pointer;

            &:active .menu__card--choice-price
            {
                transform: translate(-240%);
                transition: 500ms ease-in-out;
            }
            
            &:active .menu__card--anim-selector-menu
            {
                transform: translate(-65px);
                transition: 500ms ease-in-out;
            }
            
            &:active .fa-check-circle
            {
                transform: rotate(360deg);
                transition: 1000ms ;
            }

            &:active .menu__card--choice-paragraph
            {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 64% ;
            }

            @media (min-width:481px)
            {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 94%;
                
                &:hover .menu__card--choice-price
                {
                    transform: translate(-240%);
                    transition: 500ms ease-in-out;
                }
                
                &:hover .menu__card--anim-selector-menu
                {
                    transform: translate(-65px);
                    transition: 500ms ease-in-out;
                }
                
                &:hover .fa-check-circle
                {
                    transform: rotate(360deg);
                    transition: 1000ms ;
                }

                &:hover .menu__card--choice-paragraph
                {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    width: 64% ;
                }
            }
        }

        &--choice-title
        {
            @include align-pad-left;
            font-weight: bold;
            font-size: 1.1em;
            margin: 0;
        }

        &--choice-paragraph
        { 
            @include align-pad-left;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            margin: 0;

            @media (min-width:481px)
            {                     
                text-align: center;
                padding-left: 0;
            }
        }

        &--choice-price
        {
            font-weight: bold;
            position: absolute;
            left: 400px;
            bottom: 5px;

            @media (min-width:481px)
            {
                position: absolute;
                left: 64px;
                bottom: 33px;
                font-size: 0.9em;
                text-decoration: 3px underline $color-tertiary;
            }
        }

        &--anim-selector-menu
        {
            @include anim-selector-menu;
        }

        h3 
        {
            @include title-section;
            text-transform: uppercase;
            border-bottom: 3px solid $color-tertiary;
            width: 40px;
            padding-left: 0;
            margin-left: 20px;
        }

        .fa-check-circle
        {
            transform: rotate(0deg);
        }
    }
    
    &__bottom
    {
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &--button 
        {
            @include button;
            width: 40%;

            &:hover
            {
                background: linear-gradient(to bottom right, $color-secondary, $color-primary);
                box-shadow: 0px 2px 4px darken($color: rgb(196, 196, 196), $amount: 20);
                filter: opacity(0.9);
            }
        }
    }
}