.operation-main
{
    height: 320px;
    width: 100%;

    &__title
    {
        @include title-section;
        
        @media (min-width:481px)
        {
          text-align: center;
        }
    }

    &__step
    {
        display: flex;
        align-items: center;
        width: 85%;
        height: 65px;
        margin: 15px auto;
        background-color: $background-color;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        
        @media all and (min-width:481px)
        {                     
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
    
        &:hover
        {
            background-color: lighten($color: $background-color , $amount: 1);
            box-shadow: 0px 2px 4px darken($color: rgb(196, 196, 196), $amount: 20);
        }

        .fa-store
        {
            color: $color-primary;
        }
    }

    &__step-number
    {
        @include number-step-operation;

        @media (min-width:481px)
        {
            position: absolute;
            right: 75%;
            background: linear-gradient(to bottom right, $color-secondary, $color-primary);
            color: $color-white;
        }
    }

    &__step-paragraph
    {
        padding-left: 40px;
        font-weight: bold;
    }
}