.operation-main
{
    width: 100%;
    height: 320px;

    @media all and (min-width:769px)
        {                     
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
        }

    &__title
    {
        @include title-section;
        margin: 0;
        padding-left: 20px;
        color: $color-white;
        text-decoration: underline;
        
        @media (min-width:481px)
        {
          text-align: center;
        }

        @media (min-width:769px)
        {
          width: 100%;
          text-align: center;
        }
    }

    &__step
    {
        width: 85%;
        height: 65px;
        margin: 15px auto;
        position: relative;
        display: flex;
        align-items: center;
        background-color: $background-color;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        
        @media all and (min-width:481px)
        {                     
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }

        @media (min-width:769px)
        {
          width: 40%; 
        }
    
        &:hover
        {
            background-color: lighten($color: $background-color , $amount: 1);
            box-shadow: 0px 2px 4px darken($color: rgb(196, 196, 196), $amount: 20);
        }

        .fa-mobile-alt{
            margin-left: 10px;
        }

        .fa-list-ul{
            margin-left: 10px;
        }

        .fa-store
        {
            color: $color-primary;
            margin-left: 10px;
        }
    }

    &__step-number
    {
        @include number-step-operation;

        @media (min-width:481px) and (max-width:768px)
        {
            position: relative;
            right: 140px;
            top: 10px;
            background: linear-gradient(to bottom right, $color-secondary, $color-primary);
            color: $color-white;
        }

        @media (min-width:769px)
        {
            position: relative;
            right: 120px;
            top: 10px;
            background: linear-gradient(to bottom right, $color-secondary, $color-primary);
            color: $color-white;
        }
    }

    &__step-paragraph
    {
        padding-left: 45px;
        font-weight: bold;

        @media (min-width:481px)
        {
            padding-bottom: 10px;
        }
    }
}